body, html {
    margin: 0;
    padding: 0;
    background: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
    
    background-image: url("C:/04062015/Favorites/htm/img/ds.png");

      width: 1366px;
      height: 665px;

     background-size: 100% 100%;   
     background-position: center;
   
   
}

/* Add styles to the form container */
.container {
   
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color:  white;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}