.alt {
	color: #fff;
        background-color: #928285;
        margin-top: 0;
        font-family: Futura Lt BT;
        
        
}
.footer {
    
    
    background-color: #928285;
    
}

.for {
    
      width: 1366px;
      height: 45px;
      
}

